*{
    box-sizing: border-box;
    margin: 0;  
}
html{
    background-color: rgb(228, 236, 178);
}

h1,h2,h3,h4,h5{
    color: rgb(63,63,5);
}
header{    
    padding:1rem 1rem;
    background-color: rgba(228, 236, 178, 0.75);
    top: 0;  
    position: sticky;    
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

header ul{
    /*padding: 2rem 1rem;*/ 
    font-size: 1rem;;   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem
}

header h1{   
    padding-left: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;  
    font-size: 4rem;       
}

header a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

header a:hover{
    color: #817979;
    
}

main{
    padding: 2rem;
}

h2{
    padding-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;      
    font-size: 3rem; 
}

h3{
    padding-bottom: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#campos_de_te{
    /*object-fit: cover;*/
    object-fit: contain;
    width:100%;
    height:100%;
}

#main_title{
    padding-top: 1rem;
    padding-bottom: 0rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem; 
    font-weight: 500;
    text-transform: uppercase;  
}

p{
    padding: 0rem 1rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: 500;
}









footer section{
    margin-top: 1rem;
    }
footer h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
footer ul{
    list-style: none;
}

footer a{
    text-decoration:none;
    color: rgb(63, 63, 5);
    /*color:#000;*/
}

#footer_info{
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.fa-solid{
    /*color: #000;*/
    color: rgb(63, 63, 5);
    font-size: 1.25rem;
}

.fa-brands{
     /*color: #000;*/
     color: rgb(63, 63, 5);
    font-size: 1.25rem;
}

.fa-brands:hover{
    color: #fafafa;
}

#copyright_section{
    color: #292020;
    text-align: center;
    padding: 1rem;
}