/*
@media screen and (min-width:400px){               
h2 {color:rgb(63, 63, 5)} 
*/


#flex-container1{
    /*border: 2px solid blue;
    padding: 1rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    align-content: center;
    row-gap: 4rem;
    column-gap: 1rem;*/

    /*background-color: darkorange;*/
    margin-bottom: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    
    }

.flex-item{
    /*background-color: rgb(255, 0, 174);
    padding: 1rem;
    border: 2px solid red;
    text-align: center;
    margin-bottom: 0rem;
    width: 90%;
    max-width: 18rem;
    height: 18rem;
    border-radius: 1rem;
    overflow: auto;*/
    flex-grow: 1;
    }


   
